@media only screen 
and (min-width : 481px) {
  .main {
    background: var(--background-darker);
    color: var(--text);
    padding: 24px;
  }

  .footerItem {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 4px 0;
  }

  .cvImgContainer {
    align-items: center;
    background-color: var(--background-hover);
    border-radius: 32px;
    display: flex;
    height: 42px;
    justify-content: center;
    margin: 2px 16px 16px 0;
    width: 42px;

    img {
      height: 18px;
      width: 18px;
    }
  }

  .socialMediaContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }

  .copyRight {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 100;
  }
}